.post {
  width: 400px;
  height: fit-content;
  margin: 1rem;
  background-color: rgb(223, 255, 80);
  transition: all 0.3s;
}

.post:hover {
  box-shadow: 4px 4px #141e27;
}

.postImg {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.postCat {
  font-size: 1.2rem;
  font-family: 'Lusitana', serif;
  color: blueviolet;
  background-color: rgb(163, 244, 0);
  line-height: 2rem;
  margin: 0 1rem 0 1rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 2px 2px #141e27;
}

.postTitle {
  font-size: 2rem;
  margin: 0.5rem 1rem 1rem 1rem;
  font-family: 'Fugaz One', cursive;
  color: blueviolet;
  text-shadow: 2px 2px #dfb5fd;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.postDate {
  margin-bottom: 0.5rem;
  font-family: 'Lusitana', serif;
  color: #fa5fcb;
}
